In [113]:
df

,No.,Year,Grain-C,Shoot-C,Root-C,CutBiomassC,GrazedBiomassC,dSOC,Field-CH4,Field-N2O,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,1,1,5056.76,5044.07,1304.32,0.00,0.00,6901.64,122.75,0.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2,6133.18,8286.91,2585.72,2892.65,0.00,6646.36,133.99,0.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,3,3221.16,3013.65,1166.71,0.00,0.00,-545.14,-0.39,0.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2,1,5056.91,4997.85,1292.51,0.00,0.00,6933.27,118.43,1.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2,2,6108.22,8263.00,2576.56,2890.31,0.00,6638.65,133.37,1.46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2098,699,2,6119.45,8251.16,2573.60,2951.65,0.00,6138.69,131.99,2.26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2099,699,3,3299.04,3029.44,1173.88,0.00,0.00,-893.98,-1.16,0.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2100,700,1,5058.36,5401.77,1395.56,0.00,0.00,6569.87,150.11,0.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2101,700,2,6121.04,8471.09,2576.99,2886.74,0.00,6319.56,128.44,1.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2102,700,3,3342.52,2966.21,1148.37,0.00,0.00,-843.23,-1.06,0.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
import pandas as pd
input_file = "Site_RW300new.csv"
# read the csv file
df = pd.read_csv(input_file)
df.columns = df.iloc[1]
df = df[3:]

# find the column index of 'Field-CH4' and 'Field-N2O' and store them in a list
col_index = [df.columns.get_loc(c) for c in df.columns if c in ['Field-CH4', 'Field-N2O']]
# change string to float
df.iloc[:, col_index] = df.iloc[:, col_index].astype(float)
df['No.  '] = df['No.  '].astype(int)
# group by column "No."
df_grouped = df.groupby("No.  ")
# sum the values of each group regarding 'Field-CH4' and 'Field-N2O' and generate a new dataframe
df_sum = df_grouped[['Field-CH4', 'Field-N2O']].sum().reset_index()

KeyError: 'No.  '

In [5]:
# asending order according to the value of the No.
df_sum['No.  '] = df_sum['No.  '].astype(int)
df_sum.sort_values(by='No.  ', ascending=True)
df_sum.to_csv('df_sum.csv', index=False)

NameError: name 'df_sum' is not defined

In [115]:
input_file = "/Users/jennifergao/SW-Yufan/Site_RF240NEW7.csv"
# read the csv file
df = pd.read_csv(input_file, skiprows=1, header=None)
df.columns = [str(c).replace(" ", "") for c in df.iloc[1]]
df= df[3:]
# find the column index containing 'Field-CH4' and 'Field-N2O' and store them in a list
col_index = [df.columns.get_loc(c) for c in df.columns if str(c).replace(" ", "") in ['Field-CH4', 'Field-N2O', 'dSOC', 'Field-NH3', 'Field-N-leach', 'Field-N-runoff']]
# change string to float
df.iloc[:, col_index] = df.iloc[:, col_index].astype(float)
df['No.'] = df['No.'].astype(int)
# group by column "No."
df_grouped = df.groupby("No.")
# sum the values of each group regarding 'Field-CH4' and 'Field-N2O' and generate a new dataframe
df_sum = df_grouped[['Field-CH4', 'Field-N2O', 'dSOC', 'Field-NH3', 'Field-N-leach', 'Field-N-runoff']].sum()
# asending order according to the value of the No.
df_sum.sort_values(by='No.', ascending=True)
df_sum.to_csv('df_sum_rf240v.csv', index=True)

In [111]:
input_file = "/Users/jennifergao/SW-Yufan/Site_RB240.csv"
# read the csv file
df = pd.read_csv(input_file, skiprows=1, header=None)
df.columns = [str(c).replace(" ", "") for c in df.iloc[1]]
df= df[3:]
# find the column index containing 'Field-CH4' and 'Field-N2O' and store them in a list
col_index = [df.columns.get_loc(c) for c in df.columns if str(c).replace(" ", "") in ['Field-CH4', 'Field-N2O', 'dSOC']]
# change string to float
df.iloc[:, col_index] = df.iloc[:, col_index].astype(float)
df['No.'] = df['No.'].astype(int)
# group by column "No."
df_grouped = df.groupby("No.")
# sum the values of each group regarding 'Field-CH4' and 'Field-N2O' and generate a new dataframe
df_sum = df_grouped[['Field-CH4', 'Field-N2O', 'dSOC']].sum()
# asending order according to the value of the No.
df_sum.sort_values(by='No.', ascending=True)
df_sum.to_csv('df_sum_rb240.csv', index=True)